<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @recipe.name %></h1>
<h2><%= @recipe.culture.name %> Cuisine</h2></a>
<h2><%= Author.find(@recipe.author_id).name %></h2></a>


<h2>Ingredients</h2>
<ul>
<% @recipe.ingredients.each do |ingredient| %>
    <li><a href="/ingredients/<%= ingredient.slug %>"><%= ingredient.name %></a></li>
<% end %>
</ul>

<h2>Directions</h2>

<%= @recipe.instructions %>

<br></br>

<form action="/users/<%= @user.slug %>/edit" method="POST">
  <% if @user.recipe_ids.include?(@recipe.id) %>
      <input type="submit" name="recipe_add_remove" id="<%= @recipe.id %>" value="Remove <%= @recipe.name %>"></input>
  <% else %>
      <input type="submit" name="recipe_add_remove" id="<%= @recipe.id %>" value="Add <%= @recipe.name %>"></input>
  <% end %>
</form>

<br></br>

<form action="/recipes/<%= @recipe.slug %>/edit" method="GET">
  <input type="submit" value="Edit Recipe">
</form>

<br></br>

<form action="/recipes/<%= @recipe.slug %>/delete" method="POST">
  <input type="submit" value="Delete Recipe">
</form>

<br></br>
<p><a href="/"><h2>Main Menu</h2></a></p>
