<h1><%= @recipe.name %></h1>
<h2><%= @recipe.culture.name %> Cuisine</h2></a>
<h2><%= @recipe.author.name %></h2></a>

<h2>Ingredients</h2>
<ul>
<% @recipe.ingredients.each do |ingredient| %>
    <li><a href="/ingredients/<%= ingredient.slug %>"><%= ingredient.name %></a></li>
<% end %>
</ul>

<h2>Directions</h2>

<%= @recipe.instructions %>


<p><a href="/"><h2>Main Menu</h2></a></p>
