<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Authors</h1>

<ul>
<% Author.all.each do |author| %>
    <% if author.recipes == []  %>
      <li><a href="/authors/<%= author.slug %>/delete"><%= author.name %> has no recipes, remove author?</a></li>
    <% else %>
      <li><a href="/authors/<%= author.slug %>"><%= author.name %></a></li>
    <% end %>
<% end %>
</ul>
<a href="/authors/new"><h3>Add a New Author</h3></a>
<a href="/"><h3>Main Menu</h3></a>
