<h1>Update your recipe collection, <%= @user.name %></h1>
<form action="/users/<%= @user.slug %>/edit" method="POST">

<% if @user.recipes != [] %>
<h2>Check the recipes you wish to remove from your collection</h2>
  <% @user.recipes.each do |recipe| %>
    <input type="checkbox" name="user[recipe_ids][]" id="<%= recipe.name %>" value="<%= recipe.id %>"
      <%='unchecked' %>>
      <%= recipe.name %>
    </input>
  <% end %>
<% else %>
  <h2><a href="/recipes">Add some recipes!</h2>
<% end %>
<br></br>

<input type="submit" value="Save">
</form>
