<h1>Update your recipe collection, <%= @user.name %></h1>
<form action="/users/<%= @user.slug %>/edit" method="POST">

  <% if @user.recipes != []%>
    <h2>Uncheck recipes you wish to remove from your collection</h2>
  <% end %>
  <% @user.recipes.each do |recipe| %>
      <input type="checkbox" name="recipe[recipe_ids][]" id="<%= recipe.id %>" value="<%= recipe.name %>"
      <%= 'checked' %>> <%= recipe.name %></input>
  <% end %>

  <br></br>

  <input type="submit" value="Save">
</form>
